<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="D:/Automation Testing/03-Java Hybrid Framework/hybrid-framework-nopcommerce-27/testcases/jquerytable/Level_13_Handle_Data_Table.java"><classes><class name="com.jquerytable.Level_13_Handle_Data_Table"><methods><include name="TC_01"/><include name="TC_02"/></methods></class></classes></test></suite>